.titulo{
    font-weight:bold;
    color:red;
    text-align:justify;
}
.fondo{
    background-image:url(img/lmdi1.jpg);
}

.cont{
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:blue;
    text-align:justify;
    
}
.pie{
    text-align:center;
    font-family:'Anton', sans-serif;
}
.fondo2{
    background-color:aqua;
}